@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img {
	max-width:100%;
	height: auto; 
} 

.clearfix::after, 
.section::after {
	content: '';
	display: block;
	clear: both;
}

/* typography
=================*/

h1 {
	font-weight: 500;
	font-size: 1.75rem;
	margin-top: 0;
}

p {
	line-height: 1.45em;
}

.home-about-textbox p {
	font-size: 1.2rem;
}

h1.caption {
	padding-top: 3em;
	font-size: 2.20rem;
	color: #FFF;
	margin-bottom: 2em;
	margin-left: .5em;
	font-weight: 700;
	width: 90%;
	position: relative;
}

.caption span {
	font-weight: 200;
	margin-bottom: 3.15em;
}

@media (max-width: 375px) {
	.home-about-textbox h1 {
		font-size: 1rem;
	}
}

@media (min-width: 800px) {
	.caption {
		font-size: 3rem; 
	}
}

@media (min-width: 1200px) {
	.caption {
		font-size: 5.5rem;
	}
}

@media (min-width: 1000px) {
	h1 {
		font-size: 2rem;
	}
}

@media (min-width: 1700px) {
	.caption {
		font-size: 6rem;
	}
}

@media (max-width: 320px) {
	h1 {
		padding: 0 .25em;
		font-size: 1.15rem;
	}
}

@media (max-width: 360px) {
	.home-about-textbox h1 {
		font-size: 1.55rem;
	}
}

@media (min-width: 850px) {

	.home-about {
		background-image: 
		url(../home-about-bg.jpeg);
		background-repeat: no-repeat;
		padding: 4.5em; 
		height: 475px;
		width: 85%;		
		margin-left: 7.5%;
	}

	
	.container {
		margin-left: 2.5%; 
	}

	.home-about-textbox {
		width: 50%;
		text-align: left;
		top: -12em;
		box-shadow: 0 0 4em 0 rgba(0,0,0,1);
	}
}

	.home-about-textbox h1 {
		font-size: 1.70rem;
	}

@media (min-width: 1000px) {
	.home-001 {
		height: 100vh;
	}
	.container {
		height: auto;
	}
	.home-about-textbox {
		padding-top: 5em;
	}
	.caption {
		font-size: 4.5rem;
		padding: 3.5em; 
		padding-bottom: 1.5em;
	}
	h1 {
		font-size: 2rem;
	}
}

.button {
	display: inline-block;
	font-size: 1.22rem; 
	text-decoration: none; 
	border-width: 2px;
	text-transform: uppercase;
	border-style: solid;
	padding: 0.45em;
	padding-left: 1.65em;
	padding-right: 1.65em;
	border-color: #00ff6c;
	color: #00ff6c;
}

.button-small {
	font-size: 0.9rem;
	font-weight: 600;
}


.button-accent:hover,
.button-accent:focus {
	background: #00ff6c;
	color: #232323; 
}

.button-dark {
	color: #232323;
	border-color: #232323;
	padding-left: 1.55em;
	padding-right: 1.55em;
	font-size: 1.05rem; 
	margin-top: 1em;
	font-weight: 500;
	left: 0;
	right: 0;
}

.button-dark:hover,
.button-dark:focus {
	background: #232323;
	color: #00ff6c; 
}

/* header 
=================*/

header {
	position: absolute;
	right: 0;left: 0;
	margin: .75em;
}

.logo {
	left: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 0.75em;
}

nav a {
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
	padding: .45rem;
	color: #FFF;
}

nav a:hover,
nav a:Focus {
	color: #DDD
}

@media (min-width: 800px) {
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}

/* home-001
=================*/

.home-001 {
	background-image: 
	url(../bg-image.jpg);
	padding: 9em 0;
	background-size: cover;
	background-position: center;
}

@media (max-width: 1000px) {
	.home-001 {
		height: 700px;
	}
}

/* home-about
=================*/

.home-about-textbox {
	background-color: #232323;
	padding: 4.5em;
	padding-bottom: 2.5em;
	padding-top: 3.25em;
	margin-left: -2.5vw;
	outline: 2px solid #00ff6c;
	outline-offset: -2.85em;
	color: #FFF;
	position: relative;
	text-align: left;
}

.home-about-textbox h1 {
	color: #00ff6c;
	position: absolute;
	top: .8em;
	left: 50%;
	background: #232323;
	transform: translateX(-50%);
	padding: 0 .25em;
}

/* portfolio
=================*/

.portfolio {
	margin: 2em 0 0;
}

figure {
	margin: 0;
	position: relative;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0.05em;
	left: 0;
	right: 0;
	color: white;
	background: rgba(0,0,0,.6);
	padding: 1em;
	padding-bottom: 2.5em;
	font-size: 1.25rem;
	font-weight: 500;
}

.port-item img {
	display: block;
}

@media (min-width: 600px) {
	.port-item {
		width: 50%;
		float: left;
		margin-bottom: 0;
	}
}

@media (min-width: 1000px) {
	.port-item {
		width: 33.333334%;
		float: left;
		overflow: hidden;
	}

	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}

/* cta
=================*/

.cta {
	background-color: #00ff6c;
	padding: 3.5em;
}

.cta h1 {
	font-weight: 800;
	width: 95%;
	top: 1em;
	text-align: center;
	padding: 0;
}

@media (min-width: 1000px) {
	.cta h1 {
		margin-left: -25%; 
	}
	.cta h1 span {
		margin-left: 55%;
		text-align: center;
	}
}

/* footer
=================*/

footer {
	background-color: #34495e;
	background-size: cover;
	color: #FFF;
	padding: 2em;
}

.icons i {
	padding-top: .185em;
	margin-left: .65em; 
	font-size: 1.9rem;
	top: 1.5em;
	text-align: center;
} 

.borderline {
	width: 15%;
	border-bottom: 1px solid olive;
	margin: 0 auto;
	padding-top: 1em;
}

.copyright {
	font-size: .75rem;
}


.bordertop {
	width: 25%;
	border-bottom: 1px solid olive;
	margin: 0 auto;
	padding-top: 2.5em;
	margin-bottom: 0;
}

.icons .fa {
	color: deepskyblue;
	width: 1.6em;
	height: 1.6em;
	border-radius: 50%;
	background: white;
	border: 4px solid #b1c9d1;
	transition: .3s ease-in-out;
	text-align: center; 
}

.logo {
	width: 85px;
	height: auto;
}








